.nav {
    grid-area: nav;
    background-color: #6ff3aa;
    height: 100%;
}
.nav li {
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: white;

}
.nav a:hover {
    text-decoration: underline;
    color: red;
}
.nav a.active {
    color: blueviolet; /* Цвет активных ссылок */
   }